<div class="panel-body">
    {%  for i in fiveUsers.index %}
    <div class="col-xs-6 col-sm-4 col-md-2">
        <a class="thumbnail" style="cursor: pointer;">
            <div class="img" style="width: 100%;">
                <p style="text-align: center;font-size: 1.5em"><span class="glyphicon glyphicon-user"></span></p>
            </div>
            <div class="caption">
                <p>userID: {{fiveUsers.loc[i]["UserID"]}}</p>
                <p>degree: {{fiveUsers.loc[i]["degree"]}}</p>
            </div>
        </a>
    </div>
    {%  endfor %}
</div>

<script>
    $(".img").css({"height":$(".img").width()*0.6+"px"})
    $(".img>p").css("lineHeight", $(".img").height()+"px")
</script>