<div class="answer panel panel-primary col-xs-12 fiveUsers" style="padding: 0px;border: none;">
<div class="panel-heading">Q6. The Five Most Similar Users:</div>
<div class="panel-body">
    <div class="form-group has-feedback">
        <input type="text" class="form-control" id="answer6" placeholder="please input a userID:">
        <span class="glyphicon glyphicon-search form-control-feedback searchIcon" aria-hidden="true"></span>
    </div>
    <div class="paneChild panel panel-default col-xs-12" style="padding: 0px;">

    </div>
</div>
</div>
<script>
    $(".searchIcon").click(function(){
        var val = $("#answer6").val()
        if(val=="" | val.split(" ").length!=1){
            $.DialogByZ.Alert({Title: "提示", Content: "请先输入一位用户ID",BtnL:"确定",FunL:alerts})
        }else {
            $("#loading").show()
            $.post("/getQ6Ans", {val:val},function(data, status) {

                if (status) {
                     $("#loading").hide()
                     $(".paneChild").html(data)
                }
            });
        }
    })
</script>